<!DOCTYPE html>
<html>
    <head>
        <title>
            Add New Item
        </title>
    </head>

    <body> <h1>Adding New Item </h1>
        <form method="post">
            Name: <input type="text" name="name" required> <br>
            Category: <input type="text" name="category"  required> <br>
            Quantity: <input type="number" name="quantity"  required> <br>
            Expiration Date: <input type="date" name="exp_date"  required> <br>
            Barcode: <input type="text" name="barcode" > <br>
            <button type="submit">ADD ITEM</button>
            <a href = "{{ url_for ('inventory') }}"> <button type="button"> CANCEL </button> </a>
        </form>
    </body>
    
</html>