{% extends "base.html" %}
{% block content %}
    <ul>
        {% if user.type == 'admin' %}
            <p> Hello {{ user.username }}! </p>
            
            <li>
                <a href = "{{ url_for ('inventory') }}"> View Inventory</a>
            </li>
            <li>
                <a href = "{{ url_for ('students') }}"> View Students</a>
            </li>

            <li>
                <a href = "{{ url_for ('volunteers') }}"> View Volunteers</a>
            </li>

            <li>
                <a href = "{{ url_for ('shifts') }}"> View Shifts</a>
            </li>
        {% elif user.type == 'volunteer' %}
             <p> Hello {{ user.username }}! </p>
            
            <li>
                <a href = "{{ url_for ('inventory') }}"> View Inventory</a>
            </li>
            <li>
                <a href = "{{ url_for ('students') }}"> View Students</a>
            </li>

            <li>
                <a href = "{{ url_for ('shifts') }}"> View Shifts</a>
            </li>
        {% else %}
            <p> Hello there! </p>
            <li>
                <a href = "{{ url_for ('inventory') }}"> View Inventory</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}