{% extends "base.html" %}
{% block content %}
    <ul>
        <table border="1"> 
            <tr>
                <th>ID</th> <th>Name</th> <th>WSU ID</th> <th>Email</th> <th>Major</th>
                <th>Username</th> <th>Password</th>
            </tr>
            
            {% for student in students %}
            <tr>
                <td> {{ student.StudentId }} </td>
                <td> {{ student.Name }} </td>
                <td> {{ student.CougarId }} </td>
                <td> {{ student.Email }} </td>
                <td> {{ student.Major }} </td>
                <td> {{ student.Username }} </td>
                <td> {{ student.PasswordHash }} </td>

            </tr>
            {% endfor %}

        </table>

        <li><a href = "{{ url_for ('home') }}"> Back </a></li>
    </ul>
{% endblock %}