{% extends "base.html" %}
{% block content %}
    <ul>
        <table border="1"> 
            <tr>
                <th>ID</th> <th>Name</th> <th>Major</th>
                
            </tr>
            
            {% for student in students %}
            <tr>
                <td> {{ student.StudentId }} </td>
                <td> {{ student.Name }} </td>
                <td> {{ student.Major }} </td>
            </tr>
            {% endfor %}

        </table>

        <li><a href = "{{ url_for ('home') }}"> Back </a></li>
    </ul>
{% endblock %}