{% extends "base.html" %}
{% block content %}
    <ul>
        <table border="1"> 
            <tr>
                <th>Student ID</th> <th>Name</th> <th>Email</th>  <th>Major</th> 
                 <th>Status</th>  <th>Preferred Shift</th> <th>Applied by</th>
            
            {% for volunteer in volunteers %}
            <tr>
                <td> {{ volunteer.StudentId }} </td>
                <td> {{ volunteer.Name }} </td>
                <td> {{ volunteer.Email }} </td>
                <td> {{ volunteer.Major }} </td>
                <td> {{ volunteer.Status }} </td>
                <td> {{ volunteer.PreferredShift }} </td>
                <td> {{ volunteer.AppliedTime }} </td>

            </tr>
            {% endfor %}

        </table>

        <li><a href = "{{ url_for ('home') }}"> Back </a></li>
    </ul>
{% endblock %}